.legend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px auto 20px;
  padding: 12px 16px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 12px;
}

.legend-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 12%;
  height: 100px;
  background: rgb(255, 255, 255);
  z-index: 10;
}
