<div class="legend-container">
  <h3>Legenda das Cores:</h3>
  <div class="legend-item">
    <span class="legend-box" style="background-color: #FF5733;"></span> Decisão
  </div>
  <div class="legend-item">
    <span class="legend-box" style="background-color: #3498DB;"></span> Ato do Polo Ativo
  </div>
  <div class="legend-item">
    <span class="legend-box" style="background-color: #2ECC71;"></span> Ato do Polo Passivo
  </div>
  <div class="legend-item">
    <span class="legend-box" style="background-color: #F1C40F;"></span> Ato do Tribunal
  </div>
</div>

<div #diagramDiv style="width: 100%; height: 2000px;"></div>
